spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jobboard
    username: postgres
    password: postsql123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET:change-me-change-me-change-me-change-me-change-me-change-me}
  expiration: ${JWT_EXPIRATION_MS:86400000}
