spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jobboard
    username: postgres
    password: postsql123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

jwt:
  secret: minha-chave-secreta-super-segura-para-jwt-token-geracao-2024-jobboard
  expiration: 86400000